@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vars";

body {
    margin: 0;
    padding: 0;
    background-color: $body-color ;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

table {
    width:100%;
    margin:40px 0;
    background-color: white;
    border-radius: 4px;
}
table thead th{
    padding:20px 0;
    border-bottom:solid 1px #ddd;
}

.markdown-tip {
    background-color:white;
    padding:5px 6px;
    font-size:1.1rem;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    margin-bottom:20px;
}

.markdown-tip.primary{
    background-color: #409EFF;
    color:white;
}
.markdown-tip.danger{
    background-color: #F56C6C;
    color:white;
}
.markdown-tip.warning{
    background-color: #E6A23C;
    color:white;
}
.markdown-tip.success{
    background-color: #67C23A;
    color:white;
}



h1{font-size:2.2rem;}
h2{font-size:1.875rem;}
h3{font-size:1.5rem;}
h1,h2,h3{
    color:$primary-color;
    font-weight: bolder;
    padding:10px 0;
}




p{ padding:10px 0;}







.scrollbar::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.scrollbar::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.1);
    background   : #dddddd;
}
.scrollbar::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background   : #efefef;
}
